@font-face {
    font-family: coral-waves;
    src: url(./coral-waves.otf);
  }
  @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
  :root{
      --color-brown:#6a5051;
  }
body{
    background-color: #f3eeec;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
}

header{
    background-color: pink;
}

ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

.flex-row{
    display: flex;
    flex-direction: row;
}

.flex-column{
    display: flex;
    flex-direction: column;
}
.align-center{
    align-items: center;
}
.justify-center{
    justify-content: center;
}

/* todo: add styles here */

.user-profile{
    
    width: 32px;
    height: 32px;
    background-image: url(./images/user.png);
}
.shopping-cart{

    width: 32px;
    height: 32px;
    background-image: url(./images/cart.png);
}
.splash-screen{
    width: 100vw;
    height: 100vh;
    align-items: center;
    justify-content: center;
    background-image: url(./images/flower-header-left.png), url(./images/flower-header-right.png);
    background-repeat: no-repeat;
    background-size: 50vw 50vw;
    background-position: top left, top right;
}
.splash-content{
    width: 400px;
    height: 300px;
    align-items: center;
}
.how-we-work{
    background-repeat: no-repeat;
    align-items: center;
    justify-content: center;
}
.step{
    width: 150px;
    height: 150px;
}
[class^=arrow-]{
    width: 60px;
    height: 60px;
}
.arrow-down{
    background-image: url(./images/cursor1.png);
}
.arrow-up{
    background-image: url(./images/cursor2.png);


}
    
[class^=step-image]{
    width: 90px;
    height: 90px;
}
.step-image-1{
    background-image: url(./images/how\ work1.png);
    
}
.step-image-2{
    background-image: url(./images/how\ work2.png);
    
}
.step-image-3{
    background-image: url(./images/how\ work3.png);
    
}
.step-image-4{
    background-image: url(./images/how-work4.png);

}
.step-text{
    text-align: center;
}
.section-title{
    font-family: coral-waves, sans-serif;
    font-size: 25px;
    color: var(--color-brown);
    text-align: center;
}
.splash-title{
    font-family: coral-waves, sans-serif;
    font-size: 60px;
    color: var(--color-brown);
}

